*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto' ,sans-serif;
}
.banner{
    min-height: 100vh;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.article{
    width: 70%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}
.article p{
    font-size: 18px;
    color: black;
    line-height: 1.5;
    margin-bottom: 50px;
}
.article .btn{
    color: white;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: black;
}
.web{
    width: 70%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}
.web p{
    font-size: 18px;
    color: black;
    line-height: 1.5;
    margin-bottom: 50px;
}
.new{
    background-color: whitesmoke;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 65px auto;
}
.new-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    padding-left: 100px;
    padding-top: 100px;
}
.new-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
    padding-top: 20px;
}
.new-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #333;
}
.new-content button{
    display: inline-block;
    background-color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.cta-button{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.new-image{
    flex: 1;
    width: 600px;
    margin: auto;
    padding-left: 200px;
}
.new-container{
    width: 80%;
    margin: 50px auto;
    padding: 20px;   
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.other-image{
    flex: 1;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
}
.other-content{
    flex: 1;
    margin-left: 20px;
}
.other-image img{
    width: 70%;
}
.other-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #333;
}
.other-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}       
.new-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #333;
}
.other-content button{
    display: inline-block;
    background-color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.heading{
    width: 70%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}
.heading p{
    font-size: 18px;
    color: black;
    line-height: 1.5;
    margin-bottom: 50px;
}
.heading h1{
    color:black;
    font-size: 45px;
    text-align: center;
    margin-top: 35px;
}
.video{
    padding-top: 200px;
    width: 70%;
    margin: auto;
    text-align: center;
}
.other-container{
    background: white;
    padding: 15px 9%;
    padding-bottom: 100px;
    padding-top: 200px;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px, 1fr));
    gap: 15px;
}
.box{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: rgb(230, 232, 233);
    text-align: center;
    padding: 30px 20px;
}
.box img{
    height: 80px;
}
.box h3{
    color: #333;
    font-size: 22px;
    padding: 10px 0;
}
.box p{
    color: #333;
    font-size: 15px;
    line-height: 1.8;
}
.box .btn{
    margin-top: 10px;
    display: inline-block;
    color:#333;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}
.new-banner {
    min-height: 80vh;
    background-image:url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    margin: auto;
    text-align: center;
}
.support{
    width: 70%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}
.support p{
    font-size: 18px;
    color: white;
    line-height: 1.5;
    margin-bottom: 50px;
}
input{
   border: none;
   padding: 15px;
   width: 500px;
}
button{
    border: none;
    padding: 15px;
 }
 .images{
    display: inline;
    padding-left: 900px;
}
.social{
    padding-top: 50px;
    padding-left: 50px;
}
.new-footer{
    background-color: rgb(218, 216, 216);
}
